
<footer class="footer text-white py-5" style="background-color: #261603 !important">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <p class="font-weight-600" style="font-size: 1.3rem">Visit Us</p>
                <small class="mb-0">Gaway-Gaway Street</small> <br />
                <small class="mb-0">Uling, Naga, Cebu</small>
            </div>
            <div class="col-sm-7">
                <p class="font-weight-600" style="font-size: 1.3rem">Hours Dine-In & Take-Out</p>
                <small class="mb-0">Tuesday - Sunday</small> <br />
                <small class="mb-0">9 : 00 AM - 9 : 00 PM</small>
            </div>
        </div>
        <div class="row mt-5 pt-4">
            <div class="col-sm-5"></div>
            <div class="col-sm-7">
                <p class="text-secondary">© Copyright 2024 | Uling Top View Restaurant and Events Place</p>
            </div>
        </div>
    </div>
</footer>