@{
    ViewBag.Title = "Home";
}

@Html.Partial("_Navbar")

<div class="gradient-bg">
    <div class="container">
        <div class="row mt-sm-5">
            <div class="col-sm-12">
                <img src="~/Content/assets/images/home/main_img.png" class="img-fluid img-fluid-custom" alt="Index Image" />
            </div>
        </div>
    </div>
</div>

<div class="container mb-5">
    <div class="row pt-5">
        <div class="col-sm-6 img-container" onclick="gotoMenu()">
            <img src="~/Content/assets/images/home/clickable/clickable1.jpg" class="img-fluid" alt="Index Image" />
            <div class="text-overlay">MENU</div>
        </div>
        <div class="col-sm-6 img-container" onclick="gotoOrder()">
            <img src="~/Content/assets/images/home/clickable/clickable2-3.png" class="img-fluid" alt="Index Image" />
            <div class="text-overlay">ORDER</div>
        </div>
    </div>
</div>

@Html.Partial("_Footer")

@section Scripts{
    <script>
        function gotoMenu() {
            var redirectUrl = '@Url.Action("Menu", "Main")';
            window.location.href = redirectUrl;
        }
        function gotoOrder() {
            var redirectUrl = '@Url.Action("Order", "Main")';
            window.location.href = redirectUrl;
        }
    </script>
}